@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500&family=Montserrat:wght@400;500;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --swiper-pagination-color: #f7fbfb;
    --swiper-pagination-bullet-size: 12px;
    --swiper-pagination-bullet-horizontal-gap: 6px;
    --swiper-pagination-bottom: 20px;
    --swiper-pagination-bullet-inactive-color: #a3a5a3;
    --swiper-pagination-bullet-inactive-opacity: 1;

    --bg-gradient: linear-gradient(to top right, #475569, #64748b, #94a3b8);
  }
}

.header-desktop-nav-link {
  @apply relative text-24 font-medium text-light transition-all duration-300 before:absolute before:-bottom-2 before:left-0 before:h-0.5 before:w-0 before:rounded-full before:bg-light  before:opacity-0 before:transition-all before:duration-300 before:content-[''] hover:before:w-full hover:before:opacity-100;
}
.top-animation {
  @apply -translate-y-10 opacity-0;
}
.bottom-animation {
  @apply translate-y-10 opacity-0;
}
.left-animation {
  @apply -translate-x-50 opacity-0;
}
.right-animation {
  @apply translate-x-50 opacity-0;
}
