@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500&family=Montserrat:wght@400;500;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --swiper-pagination-color: #f7fbfb;
    --swiper-pagination-bullet-size: 16px;
    --swiper-pagination-bullet-horizontal-gap: 6px;
    --swiper-pagination-bottom: 20px;
    --swiper-pagination-bullet-inactive-color: #a3a5a3;
    --swiper-pagination-bullet-inactive-opacity: 1;

    --bg-gradient: linear-gradient(to top right, #475569, #64748b, #94a3b8);
  }
}
